* {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.bannerContainer {
    position: relative;
}
.bannerPic {
    width: 100%;
    height: 400px;
    /* background-image: url("../img/business.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerText {
    width: 80%;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 55px 0;
    color: #fff;
}
.bannerText h1 {
    font-size: 40px;
    margin: 0;
    margin-right: 15px;
    float: left;
    color: #fff;
}
.bannerText .avReview {
    font-size: 25px;
    padding: 4px 0;
    color: rgb(70, 70, 70);
}
.bannerText .avReview .checked {
    color: orange;
}
.bannerText .username {
    font-size: 16px;
}
.bannerText .username::before {
    content: "@";
}
.bannerText .omschrijving {
    font-size: 18px;
}
.profilePicContainer {
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    bottom: -105px;
    left: 110px;
    height: 210px;
    width: 210px;
}
.profilePic {
    /* background-image: url("../img/profile.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 190px;
    height: 190px;
    margin: 10px auto;
    border-radius: 50%;
}
.menu {
    padding: 42px;
    display: table;
	margin: 0 auto;
}
.menu li {
    border-bottom: 1px solid rgb(119, 119, 119);
    font-size: 20px;
    padding: 8px;
    color: rgb(119, 119, 119);
    transition: all .5s;
    cursor: pointer;
    list-style: none;
    float: left;
    margin: 0 2px;
}
.menu li:hover {
    border-bottom: 1px solid #000;
    color: #000;
}
.footer {
    background-color: #1d1f2e;
    width: 100%;
    height: 300px;
}
.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.postContainer {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    min-width: 350px;
    height: 460px;
    margin-bottom: 50px;
}
.postContainer .postpicca {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
}
/*.postContainer .postPic1 {
    background-image: url("../img/post1.jpg");
}
.postContainer .postPic2 {
    background-image: url("../img/post2.jpg");
}
.postContainer .postPic3 {
    background-image: url("../img/post3.jpg");
}
.postContainer .postPic4 {
    background-image: url("../img/post4.jpg");
}*/
.postContainer .postInfo .postReview .checked {
    color: orange;
}
.postContainer .postInfo {
    padding: 22px 0;
    text-align: center;
    background-color: #fff;
}
.postContainer .postInfo .postName {
    margin: 0;
    font-size: 25px;
}
.postContainer .postInfo .postReview {
    margin: 0;
    font-size: 17px;
}